/*Variables globales*/

:root {
    --naranja-IEA: coral;
    --gris-IEA: #f9f9f9;
    --border-IEA: #b5b5b5;
    --shadow-IEA: 0px 3px 7px 0px #b5b5b5;
    --fuente-IEA: 'Roboto', sans-serif;
    --tamano-header-seccion: 30px;
    --tamano-headers: 18px;
    --tamano-headers-sm: 15px;
    --tamano-texto: 15px;
    --tamano-texto-sm: 13px;
}

html, body {
    height: 100%;
    font-family: var(--fuente-IEA);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 58px;
    z-index: 10;
    border-bottom: 1px solid var(--border-IEA);
}

p {
    font-size: var(--tamano-texto);
}

.side-menu {
    position: fixed;
    height: 100%;
    z-index: 10;
    top: 58px;
    left: 0;
}

.side-menu .nav-collapse {
    width: 227px;
    height: 100%;
    position: fixed;
    left: -227px;
    transition: all ease-out 0.5s;
    opacity: 0.95;
}

.side-menu .collapsed {
    left: 0;
    transition: all ease-in 0.3s;
}

.iea-button {
    color: white !important;
    border-radius: 0;
    background: rgba(255, 175, 75, 1);
    background: -moz-linear-gradient(45deg, rgba(255, 175, 75, 1) 36%, rgba(255, 164, 49, 1) 49%, rgba(255, 146, 10, 1) 69%, rgba(255, 146, 10, 1) 81%);
    background: -webkit-gradient(left bottom, right top, color-stop(36%, rgba(255, 175, 75, 1)), color-stop(49%, rgba(255, 164, 49, 1)), color-stop(69%, rgba(255, 146, 10, 1)), color-stop(81%, rgba(255, 146, 10, 1)));
    background: -webkit-linear-gradient(45deg, rgba(255, 175, 75, 1) 36%, rgba(255, 164, 49, 1) 49%, rgba(255, 146, 10, 1) 69%, rgba(255, 146, 10, 1) 81%);
    background: -o-linear-gradient(45deg, rgba(255, 175, 75, 1) 36%, rgba(255, 164, 49, 1) 49%, rgba(255, 146, 10, 1) 69%, rgba(255, 146, 10, 1) 81%);
    background: -ms-linear-gradient(45deg, rgba(255, 175, 75, 1) 36%, rgba(255, 164, 49, 1) 49%, rgba(255, 146, 10, 1) 69%, rgba(255, 146, 10, 1) 81%);
    background: linear-gradient(45deg, rgba(255, 175, 75, 1) 36%, rgba(255, 164, 49, 1) 49%, rgba(255, 146, 10, 1) 69%, rgba(255, 146, 10, 1) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1);
}

.iea-logo {
    height: 30px;
}

/* Estilos de las secciones */

.seccion-principal {
    margin-top: 50px;
    background-color: black;
    color: white;
    height: 250px;
}

.quienes-somos-seccion {
    background-color: var(--gris-IEA);
}

.que-hacemos-icono {
    text-align: center;
    font-size: 50px;
    color: var(--naranja-IEA);
}

.que-hacemos-header {
    text-align: center;
    font-size: var(--tamano-headers);
    font-weight: bold;
}

.que-hacemos-texto {
    text-align: center;
    font-size: var(--tamano-texto);
}

.directorio-header {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--naranja-IEA);
    font-size: var(--tamano-header-seccion);
}

.directorio-detalle {
    border: 5px solid var(--border-IEA);
}

.directorio-nombre {
    text-transform: uppercase;
    color: var(--naranja-IEA);
    font-size: var(--tamano-headers);
}

.directorio-texto {
    text-transform: uppercase;
    font-size: var(--tamano-texto);
}

.directorio-subtitulo {
    text-transform: uppercase;
    color: var(--naranja-IEA);
    font-size: var(--tamano-headers-sm);
}

.directorio-img-box{
    z-index: 2;
}

.img{
    height: 100%;
    width: 100%;
}

.directorio-img{
    height: 100%; 
    width: 100%;
}

.directorio-texto-container {
    padding: 100px;
    border: 10px solid #f9f9f9;
}


/*A partir de resoluciones lg*/
@media (min-width: 1048px) {
    p {
        font-size: var(--tamano-texto);
    }
    .seccion-principal {
        height: auto;
        min-height: 300px;
    }

    .welcome-text {
        padding: 40px 20px;
    }

    .directorio-img{
        height:418px; 
        width:554px;
    }
}

.bg-light {
    background-color: var(--gris-IEA) !important;
}